<style>
    :root {
        color-scheme: light dark;
    }
</style>

<h1>Realtime Products</h1>

<form id="product-form" >
<!--<form id="product-form" action="/realtimeproducts" method="post">-->

	<label>Title</label>
    <input name="title" type="text">
    <br/>

	<label>Description</label>
    <input name="description" type="text">
    <br/>

	<label>Price</label>
    <input name="price" type="text">
    <br/>

	{{!-- <label>Thumbnails</label>
    <input name="thumbnails">
    <br/> --}}

	<label>Code</label>
    <input name="code" type="text">
    <br/>

	<label>Stock</label>
    <input name="stock" type="number">
    <br/>

	<label>Status</label>
    <input name="status" type="checkbox">
    <br/>

	<label>Category</label>
    <input name="category" type="text">
    <br/>

    {{!-- <input type="file" name="thumbnail" multiple>
    <br/> --}}

    <input type="submit" name="Submit">
</form>

<div>
    <ul>
        {{#each products}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/js/realtime.js"></script>