
<h1>Realtime Products</h1>

<form id="product-form" >

	<label>
        Title
        <input name="title" type="text" required>
    </label>
    <br/>

	<label>
        Description
        <input name="description" type="text" required>
    </label>
    <br/>

	<label>
        Price
        <input name="price" type="text" required>
    </label>
    <br/>

	<label>
        Code
        <input name="code" type="text" required>
    </label>
    <br/>

	<label>
        Stock
        <input name="stock" type="number" required>
    </label>
    <br/>

	<label>
        Status
        <input name="status" type="checkbox">
    </label>
    <br/>

	<label>
        Category
        <input name="category" type="text" required>
    </label>
    <br/>

    <input type="submit" name="Submit">
</form>
<br>
<br>
<br>
<div id="product-list">
    {{#each products}}
        <div id={{this.id}}>
            <p>{{this.title}}</p>
            <button data-id={{this.id}} onclick="deleteProduct(this)">delete</button>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>